
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<div class="container">

    <h1 align="center">Cart Items</h1> <br/>

    <table class="table table-sm table-hover table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <th class="bg-info text-white">ProductId</th>
                <th class="bg-info text-white">ProductName</th>
                <th class="bg-info text-white">Price</th>
               
                <th class="bg-info text-white">Action</th>
                <th class="bg-info text-white">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of cartItems" class="text-center">
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td align="right">₹{{prod.price}}.00</td>
                <td><button (click)="deleteFromCart(prod)"><span class="glyphicon glyphicon-trash"></span></button></td>
                <td><button (click)="subtract(prod)">-</button>{{prod.count}}<button (click)="add(prod)">+</button></td>
            </tr>
            <tr>
                <td></td>
                <td align="left">Total</td>
                <td align="right">₹{{total}}</td>
                <td></td>
            </tr>

            <tr>
                <td colspan="3"></td>
                <td> <button (click)="checkOut()" class="btn btn-primary"> Check Out </button> </td>
            </tr>
        </tbody>
    </table>

</div>